<div id="<%= dom_id place %>">
  <div>
    <strong>Name:</strong>
    <%= place.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= place.address %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= place.description %>
  </div>

</div>
